@page "{id:int}"

@model EditModel

@{
    ViewData["Title"] = "Edit User - " + Model.EditUserDto.Username;
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2>Edit User</h2>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="EditUserDto.Username">Username: @Model.EditUserDto.Username</label>
        <input asp-for="EditUserDto.Username" value="@Model.EditUserDto.Username" hidden class="form-control" />
        <span asp-validation-for="EditUserDto.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditUserDto.Email">Email: @Model.EditUserDto.Email</label>
        <input asp-for="EditUserDto.Email" type="email" value="@Model.EditUserDto.Email" hidden class="form-control" />
        <span asp-validation-for="EditUserDto.Email" class="text-danger"></span>
    </div>
    <div class="selected-rows">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var availableRole in Model.AllRoles)
                {
                    var isSelected = Model.SelectedRoles.ToList().Contains(availableRole.Value);
                    <tr>
                        <td>
                            <!-- Setting Name to Form.SelectedRoleIDs allows .NET to bind the checkbox values to the list. -->
                            <input name="SelectedRoles"
                                   value="@availableRole.Value"
                                   checked="@isSelected"
                                   type="checkbox" 
                                   class="form-check-input"
                            />
                        </td>   
                        <td>@availableRole.Text</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>