@page
@using NETForum.Constants
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Forums</h5>
                <a asp-page="@PageRoutes.ForumLanding" class="btn btn-primary">Visit</a>

                <!-- Only display if the user is an Admin -->
                @if(Model.UserIsAdmin)
                {
                    <a asp-page="@PageRoutes.ManageForums" class="btn btn-secondary">Manage</a>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Threads</h5>
                <a asp-page="@PageRoutes.PostsLanding" class="btn btn-primary">Visit</a>

                <!-- Only display your threads if the user is authenticated. -->
                @if(Model.UserIsAuthenticated && User.Identity?.Name != null)
                {
                    <a class="btn btn-primary" 
                       asp-page="/Threads/User" asp-route-username="@User.Identity.Name">Your Threads
                    </a>

                    <!-- Only display if they are an Admin -->
                    @if (Model.UserIsAdmin)
                    {
                        <a asp-page="@PageRoutes.ManagePosts" class="btn btn-secondary">Manage</a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<!-- Only display Users & Roles Cards if user is an Admin -->
@if(Model.UserIsAdmin)
{
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <a asp-page="@PageRoutes.ManageMembers" class="btn btn-secondary">Manage</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <a asp-page="@PageRoutes.ManageRoles" class="btn btn-secondary">Manage</a>
                </div>
            </div>
        </div>
    </div>
}