@page
@using NETForum.Constants
@using NETForum.Pages.Shared.Components.UserPhoto
@model NETForum.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Members";
}

<div class="row">
    <form method="get">
        <div class="d-flex gap-3 align-items-end">
            <div class="form-group">
                <label>Username</label>
                <input name="Username" class="form-control" />
            </div>
            <button class="btn btn-primary" style="height: fit-content" type="submit">Filter</button>
        </div>
    </form>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-header shadow bg-primary text-white">
                Members
            </div>
            <div class="card-body">
                @if (Model.Users != null && Model.Users.Any())
                {
                    @if (Model.Users.Any())
                    {
                        @foreach (var user in Model.Users)
                        {
                            <div class="p-2">
                                <div class="d-flex gap-2 align-items-center">
                                    @await Component.InvokeAsync("UserPhoto", new UserPhotoViewModel()
                                    {
                                        PhotoUrl = user.ProfileImageUrl,
                                        UserName = user.UserName
                                    })
                                    <a 
                                        class="link-primary"
                                        asp-page="@PageRoutes.MemberView" 
                                        asp-route-username="@user.UserName"
                                    >
                                        @user.UserName
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No users found.</p>
                    }
                }
                else
                {
                    <p>Unable to load users.</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-flex mt-3">
        <p class="m-0 align-self-center">Page @Model.Users.PageNumber of @Model.Users.TotalPages</p>
        <a asp-page="@PageRoutes.MembersLanding"
           asp-route-PageNumber="@(Model.Users.PageNumber - 1)"
           asp-route-username="@(Model.Filter.Username)"
           class="btn btn-primary mx-2 @(Model.Users.HasPreviousPage ? "" : "disabled")">Previous</a>
        <a asp-page="@PageRoutes.MembersLanding"
           asp-route-PageNumber="@(Model.Users.PageNumber + 1)"
           asp-route-username="@(Model.Filter.Username)"
           class="btn btn-primary @(Model.Users.HasNextPage ? "" : "disabled")">Next</a>
    </div>
</div>

