@using NETForum.Constants
@using NETForum.Helpers
@using NETForum.Pages.Shared.Components.UserPhoto
@model PostListViewModel

@foreach(var post in Model.Posts)
{
    <div class="post-list-item">
        <div class="d-flex justify-content-between p-1">
            <div class="d-flex gap-3 align-items-center">
                <span class="text-secondary">
                    @await Component.InvokeAsync("UserPhoto", new UserPhotoViewModel()
                    {
                        PhotoUrl = post.AuthorAvatarUrl,
                        UserName = post.AuthorName,
                    })
                </span>
                <a 
                    class="d-flex flex-column text-decoration-none text-black"
                   asp-page="@PageRoutes.PostView"
                   asp-route-id="@post.Id"
                >
                    <p class="m-0 post-title">@post.Title</p>
                    <small class="m-0 post-content">@HtmlHelpers.StripAndTruncateHtml(post.Content, 100)</small>
                </a>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-5">
                <div class="d-flex flex-column align-items-center">
                    <p class="m-0 text-primary">Views</p>
                    <p class="m-0">@post.ViewCount.ToString()</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <p class="m-0 text-primary">Replies</p>
                    <p class="m-0">@post.ReplyCount.ToString()</p>
                </div>
                @if (post.LastReplySummary != null)
                {
                    <div class="d-flex align-items-center gap-3">
                        <div class="d-flex flex-column">
                            <a
                                asp-page="@PageRoutes.PostView"
                                asp-route-id="@post.Id">
                                @post.LastReplySummary.AuthorName
                            </a>
                            <p class="m-0">@DateHelpers.ToRelativeDatetimeString(post.CreatedAt)</p>
                        </div>
                        <span class="text-secondary">
                            @await Component.InvokeAsync("UserPhoto", new UserPhotoViewModel()
                            {
                                PhotoUrl = post.LastReplySummary.AuthorAvatarUrl,
                                UserName = post.LastReplySummary.AuthorName,
                                Size = 35
                            })
                        </span>
                    </div>
                }
                else
                {
                    <div>
                        <p>Be the first to reply!</p>
                    </div>
                }
            </div>
        </div>
    </div>
}