@page
@using NETForum.Helpers
@using NETForum.Pages.Shared.Components.ForumList
@using NETForum.Pages.Shared.Components.UserPhoto
@model NETForum.Pages.Forums.IndexModel

@{
    ViewData["Title"] = "Forums";
    var groupedByCategory = Model.ForumIndexPageDto.RootForums.Where(f => f.CategoryName!= null).GroupBy(f => f.CategoryName);
}

<div class="row mt-2">
    <div class="col-md-8 col-sm-12">
        @await Component.InvokeAsync("ForumList", new ForumListOptions()
        {
            ForumListTitle = "Uncategorized Forums",
            ForumItems = Model.ForumIndexPageDto.RootForums.Where(f => f.CategoryName == null).ToList()
        })
        @foreach(var categoryGroup in groupedByCategory)
        {
            <div class="mt-2">
                @await Component.InvokeAsync("ForumList", new ForumListOptions()
                {
                    ForumListTitle = categoryGroup.Key,
                    ForumItems = categoryGroup.ToList()
                })
            </div>
        }
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="d-flex flex-column gap-3">
            <div class="card shadow">
                <div class="card-header shadow bg-primary text-white">
                    Online Members
                </div>
                <div class="card-body">
                    TODO: Load Online Members
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header shadow bg-primary text-white">
                    Latest Posts
                </div>
                <div class="card-body">
                    @if(Model.ForumIndexPageDto.LatestPosts.Any())
                        {
                            @foreach (var post in Model.ForumIndexPageDto.LatestPosts)
                            {
                                <div class="latest-post">
                                    <div class="d-flex gap-3 align-items-center">
                                        <span class="text-secondary account-icon">
                                            @await Component.InvokeAsync("UserPhoto", new UserPhotoViewModel()
                                            {
                                                PhotoUrl = post.AuthorAvatarUrl,
                                                UserName = post.AuthorName
                                            })
                                        </span>
                                        <div class="d-flex justify-content-between flex-grow-1">
                                            <div class="d-flex flex-column">
                                                <a asp-page="/Posts/Details"
                                                   asp-route-id="@post.Id"
                                                   class="text-tertiary">
                                                    @post.Title
                                                </a>
                                                <small>@DateHelpers.ToRelativeDatetimeString(post.UpdatedAt)</small>
                                            </div>
                                            <p class="m-0">@post.AuthorName</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        } 
                        else
                        {
                            <p class="m-0">Found no posts!</p>    
                        }
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header shadow bg-primary text-white">
                    Latest Resources
                </div>
                <div class="card-body">
                    TODO: Load latest resources
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header shadow bg-primary text-white">
                    Forum Statistics
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="text-primary">Posts:</p>
                        <p class="text-secondary">@Model.ForumIndexPageDto.Stats.TotalPosts.ToString()</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-primary">Replies:</p>
                        <p class="text-secondary">@Model.ForumIndexPageDto.Stats.TotalReplies.ToString()</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-primary">Members:</p>
                        <p class="text-secondary">@Model.ForumIndexPageDto.Stats.TotalMembers.ToString()</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="text-primary">Newest Member:</p>
                        @if(Model.ForumIndexPageDto.NewestUser != null)
                        {
                            <a class="text-secondary">@Model.ForumIndexPageDto.NewestUser.UserName</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>